<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Search for videos!</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}">
</head>
<body>

<div class="search-container">
    <h1 class="title">Search Zone</h1>
    <form action="/search" method="GET">
    <div class="search-box">
            <input type="text" class="search-input" placeholder="Search here for videos!!" name="query">
            <button type="submit" class="search-btn"><i class="fas fa-search">Search</i></button>
    </div>
    </form>
</div>


<div class="container">
    <h1>Search Results</h1>
    <ul>
        <li th:each="result : ${searchResults}">
            <h2 th:text="${result.getSnippet().getTitle()}"></h2>
            <img th:src="${result.getSnippet().getThumbnails().getDefault().getUrl()}" th:alt="${result.getSnippet().getTitle()}">
            <a th:href="'https://www.youtube.com/watch?v=' + ${result.getId().getVideoId()}" target="_blank">Watch on YouTube</a>
        </li>
    </ul>
</div>
<!-- Include Font Awesome icons -->
<script src="https://kit.fontawesome.com/6c7f8a1efa.js" crossorigin="anonymous"></script>

</body>
</html>

